/*---------------------------------------------------------
                    # Start Global Rules
---------------------------------------------------------*/
/* Embad The Font */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Rest The Page */
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box
}

body,
html
{
    height: 100vh;
    font-family: 'Raleway', sans-serif
}
/*---------------------------------------------------------
                    # End Global Rules
---------------------------------------------------------*/