/*---------------------------------------------------------
                    # Start Global Rules
---------------------------------------------------------*/
/* Embad The Font */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Rest The Page */
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box
}

body,
html
{
    height: 100vh;
    font-family: 'Raleway', sans-serif
}

body
{
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/geometry2.png');
}

ul{list-style-type: none}

main
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{width: 500px}
/*---------------------------------------------------------
                    # End Global Rules
---------------------------------------------------------*/

/*---------------------------------------------------------
                # Start Game Header Rules
---------------------------------------------------------*/
.game-header .game-name
{
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.75em
}
/*---------------------------------------------------------
                # End Game Header Rules
---------------------------------------------------------*/

/*---------------------------------------------------------
                # Start Game Settings Rules
---------------------------------------------------------*/
.settings
{
    width: 100%;
    display: flex;
}

.settings .stars{display: flex; padding-right: 30px}

.settings .moves{text-transform: capitalize; padding: 0 90px 0 30px}
/*---------------------------------------------------------
                # End Game Settings Rules
---------------------------------------------------------*/

/*---------------------------------------------------------
                # Start Deck Rules
---------------------------------------------------------*/
.deck
{
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5)
}
/*---------------------------------------------------------
                # End Deck Rules
---------------------------------------------------------*/